$color-principal: #f7cac9;
$color-secundario: #b3cee5;
$typo-titulo: "Montserrat", sans-serif;
$ancho-icon: 200px;
$alto-icon: 200px;

html {
  font-size: 62.5%;
}

ul {
  text-decoration: none;
  margin: 0;
}

.menuPrincipal__item {
  color: $color-principal;
  font-family: $typo-titulo;
  font-size: medium;
  font-style: italic;
  text-decoration: none;
  display: inline-block;
  width: 180px;
  height: 30px;
  border: solid 3px $color-principal;
  margin: 0;
  padding: 1px 10px;
  text-align: center;
  position: relative;
  transition: background-color 1s;
}

.delMenu:hover {
  background-color: rgb(255, 213, 220);
}

#redesSociales {
  font-style: italic;
  color: pink;
  font-size: medium;
  display: flex;
  flex-direction: row-reverse;
}

ul > li {
  display: inline-block;
  position: relative;
}

nav li :hover {
  background-color: #fff;
  color: #000;
}

nav li > ul {
  display: none;
}

nav li:hover > ul {
  display: block;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 200%;
}
.menuPrincipal__subMenuItem {
  color: $color-secundario;
  font-family: $typo-titulo;
  font-size: 15px;
  font-style: italic;
  text-decoration: none;
}

.menuPrincipal {
  border-color: $color-principal;
  display: inline-block;
}

.separador {
  color: $color-secundario;
  font-size: 2rem;
  font-family: $typo-titulo;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 15px;
}

#parrafito {
  font-size: 1.5rem;
  background-color: $color-secundario;
  font-style: italic;
  font-family: $typo-titulo;
}

#musicImages {
  display: flex;
  flex-direction: column-reverse;
}

.contenedor {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1064px;
  padding-left: 10px;
  padding-right: 10px;
}
.banner {
  width: 100%;
}

@keyframes aparecer_jeje {
  0% {
    transform: translate(0, -65px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
.logo {
  width: 150px;
  animation-name: aparecer_jeje;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-delay: 0s;
}

.cabeza {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.artista__item {
  display: inline-block;
  color: $color-principal;
  font-style: italic;
  list-style: circle;
  font-size: medium;
  font-family: $typo-titulo;
}

#artista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.grillaOfertas__item {
  background-color: $color-principal;
  border: 2px solid $color-secundario;
  height: 100%;
  transition: transform 0.5s ease;

  > img {
    width: 100%;
    height: 100%;
  }
}

.grillaTendencias__item:hover {
  transform: scale(1.08);
}

.grillaOfertas__item:hover {
  transform: scale(1.08);
}

.grillaOfertas {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 150px 150px;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "itemUno itemUno itemCuatro"
    "itemDos itemTres itemCuatro";
}

.itemUno {
  grid-area: itemUno;
}

.itemDos {
  grid-area: itemDos;
}

.itemTres {
  grid-area: itemTres;
}

.itemCuatro {
  grid-area: itemCuatro;
}

.grillaTendencias {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 150px 150px;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "itemCuatro itemUno itemUno"
    "itemCuatro itemDos itemTres";
}

.grillaTendencias__item {
  background-color: $color-principal;
  border: 2px solid $color-secundario;
  height: 100%;
  transition: transform 0.5s ease;

  > img {
    width: 100%;
    height: 100%;
  }
}

.musicImages {
  @extend .grillaOfertas;
}
.lightstickGrilla {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 150px 150px;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "itemCuatro itemUno itemUno"
    "itemCuatro itemDos itemTres";
}

.lightstickGrilla__item {
  @extend .grillaTendencias__item;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.tablita {
  font-size: 1.5rem;
}

.botonsito {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.piesito__item {
  background-color: $color-principal;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;

  > img {
    height: $alto-icon / 4;
    width: $ancho-icon / 4;
  }
}

.piesito__text {
  display: inline-block;
  color: whitesmoke;
  list-style: circle;
  font-size: medium;
  font-family: $typo-titulo;
  font-weight: bolder;
  margin-left: 5px;
}

.piesito {
  background-color: $color-principal;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.miBarrita {
  background-color: rgba($color-principal, 0.5);
}
