html {
  font-size: 62.5%;
}

.separador {
  color: #b3cee5;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafito {
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  padding-right: 85px;
  color: #888888;
}

.sobreNosotrxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bannerPrincipal {
  width: 100%;
}

@-webkit-keyframes aparecer_jeje {
  0% {
    -webkit-transform: translate(0, -65px);
            transform: translate(0, -65px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes aparecer_jeje {
  0% {
    -webkit-transform: translate(0, -65px);
            transform: translate(0, -65px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.logo {
  width: 150px;
  -webkit-animation-name: aparecer_jeje;
          animation-name: aparecer_jeje;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.cabeza {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

.artista__item {
  display: inline-block;
  color: #f7cac9;
  font-style: italic;
  list-style: circle;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
}

.artista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grillaTendencias__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.grillaOfertas__item:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.itemUno {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: itemUno;
}

.itemDos {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: itemDos;
}

.itemTres {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: itemTres;
}

.itemCuatro {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: itemCuatro;
}

.grillaTendencias {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
      grid-template-columns: 1fr 2fr 2fr;
  -ms-grid-rows: 150px 150px;
      grid-template-rows: 150px 150px;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
      grid-template-areas: "itemCuatro itemUno itemUno" "itemCuatro itemDos itemTres";
}

.grillaTendencias__item {
  border: 2px solid #b3cee5;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.grillaTendencias__item > img {
  width: 100%;
  height: 100%;
}

.elFormulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enviarForm {
  background-color: #f7cac9;
  color: #fff !important;
  border-color: #fff;
  margin-top: 10px;
}

.borrarForm {
  background-color: #b3cee5;
  color: #fff !important;
  border-color: #fff;
  margin-top: 8px;
}

form {
  -webkit-box-shadow: 5px 5px 5px 5px #888888;
          box-shadow: 5px 5px 5px 5px #888888;
  padding: 15px;
  box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -webkit-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -moz-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  border-radius: 5px;
  margin-bottom: 25px;
}

.elFormulario input {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: #1a1919;
  padding: 10px;
  border: 1px solid #ebe8e8;
  border-radius: 5px;
}

.elFormulario label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: lighter;
  color: #9e9e9e;
}

.elFormulario textarea {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: #1a1919;
  padding: 10px;
  border: 1px solid #ebe8e8;
  border-radius: 5px;
}

.tablita {
  font-size: 1.5rem;
}

.piesito__item {
  background-color: #f7cac9;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}

.piesito__item > img {
  height: 50px;
  width: 50px;
}

.piesito__text {
  display: inline-block;
  color: whitesmoke;
  list-style: circle;
  font-size: medium;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-left: 5px;
}

.piesito {
  background-color: #f7cac9;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.miBarrita {
  background-color: rgba(247, 202, 201, 0.5);
}
/*# sourceMappingURL=delindex.css.map */