$color-principal: #f7cac9;
$color-secundario: #b3cee5;
$typo-titulo: "Montserrat", sans-serif;
$ancho-icon: 200px;
$alto-icon: 200px;

html {
  font-size: 62.5%;
}

.separador {
  color: $color-secundario;
  font-size: 2rem;
  font-family: $typo-titulo;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafito {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-style: italic;
  font-family: $typo-titulo;
  padding-right: 85px;
  color: #888888;
}
.sobreNosotrxs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 50px;
  align-items: center;
}

.bannerPrincipal {
  width: 100%;
}

@import "componentes/cabecera.scss";

.artista__item {
  display: inline-block;
  color: $color-principal;
  font-style: italic;
  list-style: circle;
  font-size: medium;
  font-family: $typo-titulo;
}

.artista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grillaTendencias__item:hover {
  transform: scale(1.08);
}

.grillaOfertas__item:hover {
  transform: scale(1.08);
}

.itemUno {
  grid-area: itemUno;
}

.itemDos {
  grid-area: itemDos;
}

.itemTres {
  grid-area: itemTres;
}

.itemCuatro {
  grid-area: itemCuatro;
}

.grillaTendencias {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 150px 150px;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas:
    "itemCuatro itemUno itemUno"
    "itemCuatro itemDos itemTres";
}

.grillaTendencias__item {
  border: 2px solid $color-secundario;
  height: 100%;
  transition: transform 0.5s ease;

  > img {
    width: 100%;
    height: 100%;
  }
}

.elFormulario {
  display: flex;
  justify-content: center;
}
.enviarForm {
  background-color: $color-principal;
  color: #fff !important;
  border-color: #fff;
  margin-top: 10px;
}
.borrarForm {
  background-color: $color-secundario;
  color: #fff !important;
  border-color: #fff;
  margin-top: 8px;
}
form {
  box-shadow: 5px 5px 5px 5px #888888;
  padding: 15px;
  box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -webkit-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  -moz-box-shadow: 1px 6px 30px 0px rgba(142, 142, 142, 0.75);
  border-radius: 5px;
  margin-bottom: 25px;
}
.elFormulario input {
  display: block;
  align-items: center;
  font-family: $typo-titulo;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: rgb(26, 25, 25);
  padding: 10px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 5px;
}
.elFormulario label {
  display: block;
  font-family: $typo-titulo;
  font-size: 1.5rem;
  margin-bottom: 0px;
  margin-top: 10px;
  font-weight: lighter;
  color: rgb(158, 158, 158);
}
.elFormulario textarea {
  display: block;
  align-items: center;
  font-family: $typo-titulo;
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  color: rgb(26, 25, 25);
  padding: 10px;
  border: 1px solid rgb(235, 232, 232);
  border-radius: 5px;
}

.tablita {
  font-size: 1.5rem;
}

.piesito__item {
  background-color: $color-principal;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;

  & > img {
    height: $alto-icon / 4;
    width: $ancho-icon / 4;
  }
}

.piesito__text {
  display: inline-block;
  color: whitesmoke;
  list-style: circle;
  font-size: medium;
  font-family: $typo-titulo;
  font-weight: bolder;
  margin-left: 5px;
}

.piesito {
  background-color: $color-principal;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.miBarrita {
  background-color: rgba($color-principal, 0.5);
}
