$color-principal: #f7cac9;
$color-secundario: #b3cee5;
$typo-sitio: "Montserrat", sans-serif;
$ancho-icon: 200px;
$alto-icon: 200px;

body {
  font-family: $typo-sitio;
}

@import "componentes/_cabecera.scss";
@import "componentes/_tendencias.scss";
@import "componentes/_artista.scss";
@import "componentes/_piedepagina.scss";
@import "componentes/_utilidades.scss";
@import "componentes/_formulario.scss";
