.tablita {
  font-size: 1.5rem;
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.menuPrincipal {
  background-color: rgba($color-principal, 0.5);
}

.video-responsive {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.productos {
  font-size: 1.5rem;
}

html {
  font-size: 62.5%;
}

.titulo {
  color: $color-secundario;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parrafito {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  font-style: italic;
  padding-right: 85px;
  color: #888888;

  @media (max-width: 800px) {
    font-size: 1.5rem;
  }
}
.sobreNosotrxs {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 50px;
  align-items: center;
  @media (max-width: 480px) {
    font-size: 1.5rem;
    display: block;
    padding: 0px;
  }
}

.bannerPrincipal {
  width: 100%;
}
